<mat-toolbar color="primary">
    <a class="navbar-brand" href="#">
        <img src="assets/img/ace-logo.png" alt="logo" width="150px" height="80px">
    </a>
</mat-toolbar>
<div class="mycard">
    <mat-card>
        <mat-card-title>404 Page Not Found</mat-card-title>
        <mat-card-content>
            <div>The page you were looking for doesn't exist</div>
        </mat-card-content>
        <mat-card-content>
            <p class="button">
                <button mat-button style="background-color: black;color:#FBB040" (click)="goToHome()">Home</button>
            </p>
        </mat-card-content>
    </mat-card>
</div>