.mycard {
    display: flex;
    justify-content: center;
    margin: 100px 0px;
  }

  mat-card-title,
  mat-card-content {
    display: flex;
    justify-content: center;
  }

  .button {
    display: flex;
    justify-content: flex-end;
  }

  .mat-toolbar.mat-primary,.mat-card{
    background-color:#FBB040
}

.button button{
    background-color:black;
    color:#FBB040;
}

