<div class="container p-3">
  <div class="row">
    <div class="col-12">
      <form class="form-horizontal" [formGroup]="form" (submit)="submit()">
        <div class="table-responsive" formArrayName="items">
            <table class="table table-bordered table-striped table-highlight">
              <thead>
                <th>Item</th>
                <th>Rate</th>
                <th>Quantity</th>
                <th>Amount</th>
                <th>Action</th>
              </thead>
              <tbody *ngFor="let item of itemFormGroup.controls; let i = index;">
              <tr [formGroupName]="i">
                  <td class="form-group">
                    <input class="form-control" formControlName="item" type="text">
                  </td>
                  <td class="form-group">
                    <input (input)="call(item)" class="form-control" appNumeric decimals="2" formControlName="rate" type="text">
                  </td>
                  <td class="form-group">
                    <input (input)="call(item)" appNumeric decimals="2" class="form-control" formControlName="quantity" type="text">
                    </td>
                    <td class="form-group">
                    <input [attr.disabled]="amountDisable" appNumeric decimals="2" class="form-control" formControlName="amount" type="text">
                    </td>
                  <td class="form-group text-right">
                    <button class="btn btn-danger" type="button" (click)="removeItem(i)"> Remove </button>
                  </td>
              </tr>
            </tbody>
            </table>
            <button class="btn btn-primary m-1" type="button" (click)="addItem()" [disabled]="!form.valid"> Add Item </button>
            <button class="btn btn-success m-1" [disabled]="!form.valid" type="submit"> Print </button>
            <span style="float:right">Total: $ {{total}}</span>
        </div>
      </form>
    </div>
  </div>
</div>